image: docker:24.0.5
services:
    - docker:24.0.5-dind

# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/user/application_security/secret_detection/pipeline/configure
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence
stages:
- build
- test
- dast
docker_build:
  stage: build
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE .
  - docker tag $CI_REGISTRY_IMAGE $CI_REGISTRY_IMAGE:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
  - |
    if [ "$CI_COMMIT_BRANCH" = "$CI_DEFAULT_BRANCH" ]; then
      docker tag $CI_REGISTRY_IMAGE $CI_REGISTRY_IMAGE:latest
      docker push $CI_REGISTRY_IMAGE:latest
    fi
  - docker push $CI_REGISTRY_IMAGE:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}

sast:
  stage: test
include:
- template: Security/SAST.gitlab-ci.yml
- template: DAST.gitlab-ci.yml
- template: Jobs/Container-Scanning.gitlab-ci.yml
variables:
  GITLAB_ADVANCED_SAST_ENABLED: 'true'
  FF_GLAS_ENABLE_PHP_SUPPORT: 'true'
  DAST_WEBSITE: https://scheduler.quickbrownfoxes.org
  DAST_FULL_SCAN_ENABLED: "true" # do a full scan
  DAST_BROWSER_SCAN: "true" # use the browser-based GitLab DAST crawler
container_scanning:
  variables:
    CS_IMAGE: "registry.gitlab.com/quickbrownfoxes/scheduler:latest"
dast:
  stage: dast